@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
html, body {
  min-height: 100%;
}

body {
  background-color: #f6f7fa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3a3a3a;
}
body.login-tpl {
  background: url(../images/bg-login.jpg) no-repeat center center;
  background-size: cover;
}

a {
  color: #00559d;
}

input:focus {
  outline: inherit;
  border: none;
}

.input-group-addon:last-child {
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  border-color: #dadee7;
}

.ttu {
  text-transform: uppercase;
}

.fzx1 {
  font-size: 16px;
}

.mt-30 {
  margin-top: -30px;
}

.form-control {
  box-shadow: none;
  border: 1px solid #dadee7;
  resize: none;
}
.form-control:focus, .form-control:active {
  border: 1px solid #00569d;
  box-shadow: none;
}

.minh135 {
  min-height: 135px;
}
@media screen and (max-width: 768px) {
  .minh135 {
    min-height: 0;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr0 {
  margin-right: 0;
}

.mt0 {
  margin-top: 0;
}

.f-row.light,
.f-row.dark {
  padding: 10px 9px;
}

.f-row.dark {
  background: #263548;
}

.heading h1 {
  font-size: 18px;
}
.heading h2 {
  font-size: 18px;
}

.bg-warning {
  background: #ffc000;
  color: #fff;
}
.bg-warning a {
  color: #fff;
}

.bg-danger {
  background: #f00;
  color: #fff;
}
.bg-danger a {
  color: #fff;
}

.bg-gr {
  background: #f6f7fa;
}

.bg-w {
  background: #fff;
}

.bdrs {
  border-radius: 4px;
  border: 1px solid #dadee7;
}

.g-wrpa {
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}

.f-title {
  margin-bottom: 7px;
}

.mb0 {
  margin-bottom: 0;
}

.text-success {
  color: #00cb63;
}

.text-danger {
  color: #f00;
}

.breadcrumb > li + li:before {
  content: '\e258';
  position: relative;
  font-size: 9px;
  color: #3a3a3a;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.breadcrumb {
  color: #3a3a3a;
}
.breadcrumb a {
  color: #3a3a3a;
}
.breadcrumb li.active {
  color: #3a3a3a;
}

.btn {
  background: #f97514;
  border-bottom: 3px solid #c15200;
  color: #fff;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 1440px) {
  .btn {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.btn:hover {
  color: #fff;
}
.btn.btn-gr {
  background: #c2c2c2;
  border-bottom-color: #9f9f9f;
}
.btn.btn-grn {
  background: #00cb63;
  border-bottom-color: #029e4e;
}

table.text-center th, table.text-center td {
  text-align: center;
}

.data-body {
  background: url(../images/icons/week.png) no-repeat right 0;
  background-size: contain;
  position: relative;
  padding-left: 75px;
  padding-right: 80px;
}
.data-body .num {
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: -7px;
}
.data-body .data {
  font-size: 18px;
  line-height: 24px;
}
.data-body .data .day {
  text-transform: uppercase;
  font-size: 24px;
  display: block;
}

.wrap-block {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d4d9e3;
  padding: 4px;
  min-height: 211px;
  position: relative;
}
.wrap-block .pic {
  margin-top: 40px;
}
.wrap-block.brdr-c:before {
  background: #d4d9e3;
  content: '';
  position: absolute;
  min-height: 97%;
  width: 1px;
  margin: 4px auto;
  top: 0;
  left: 0;
  right: 0;
}
.wrap-block .title {
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
}
.wrap-block .text {
  margin-top: 25px;
  font-weight: bold;
  color: #7f7e7e;
}
.wrap-block .text span {
  color: #3a3a3a;
}
.wrap-block .slider .text {
  color: #3a3a3a;
}
.wrap-block .slider .text span {
  color: #7f7e7e;
}

.mb32 {
  margin-bottom: 32px;
}

.wrapper {
  margin-left: 357px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-nav {
  background: #fff;
  position: fixed;
  top: 24px;
  left: -1px;
  height: 40px;
  width: 46px;
  z-index: 9;
  cursor: pointer;
  border: 1px solid #dadee7;
}
.btn-nav span {
  height: 4px;
  display: block;
  background: #263548;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 23px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-nav span:first-child {
  margin-top: 9px;
}

.openMenu .btn-nav span {
  width: 4px;
}
.openMenu .nav-bar {
  width: 88px;
}
.openMenu .wrapper {
  margin-left: 100px;
}

.nav-bar {
  background: #263548;
  position: fixed;
  left: 0;
  height: 100%;
  width: 343px;
  overflow: hidden;
  z-index: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 343px;
}
.nav-bar > ul {
  padding: 88px 0 0;
}
.nav-bar > ul li {
  border-bottom: 2px solid #233142;
  position: relative;
}
.nav-bar > ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 16px 16px 16px 88px;
  display: block;
}
.nav-bar > ul li a:hover {
  text-decoration: none;
}
.nav-bar > ul li a:before {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 32px;
  top: 11px;
  content: '';
}
.nav-bar > ul li.nav-item-0 a:before {
  background: url(../images/icons/i0.png) no-repeat;
}
.nav-bar > ul li.nav-item-1 a:before {
  background: url(../images/icons/i1.png) no-repeat;
}
.nav-bar > ul li.nav-item-2 a:before {
  background: url(../images/icons/i2.png) no-repeat;
}
.nav-bar > ul li.nav-item-3 a:before {
  background: url(../images/icons/i3.png) no-repeat;
}
.nav-bar > ul li.nav-item-4 a:before {
  background: url(../images/icons/i4.png) no-repeat;
}
.nav-bar > ul li.nav-item-5 a:before {
  background: url(../images/icons/i5.png) no-repeat;
}
.nav-bar > ul li.nav-item-6 a:before {
  background: url(../images/icons/i6.png) no-repeat;
}
.nav-bar > ul li.nav-item-7 a:before {
  background: url(../images/icons/i7.png) no-repeat;
}
.nav-bar > ul li.nav-item-8 a:before {
  background: url(../images/icons/i8.png) no-repeat;
}
.nav-bar > ul li.nav-item-9 a:before {
  background: url(../images/icons/i9.png) no-repeat;
}
.nav-bar > ul li.nav-item-10 a:before {
  background: url(../images/icons/i10.png) no-repeat;
}
.nav-bar > ul li.nav-item-11 a:before {
  background: url(../images/icons/i11.png) no-repeat;
}
.nav-bar > ul li.nav-item-12 a:before {
  background: url(../images/icons/i12.png) no-repeat;
}
.nav-bar > ul li.nav-item-13 a:before {
  background: url(../images/icons/i13.png) no-repeat;
}
.nav-bar > ul li.active:before {
  background: #f97514;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 9px;
  height: 100%;
}
.nav-bar > ul li.active a {
  background: #f6f7fa;
  color: #f97514;
}

.login-body {
  background: #fff;
  max-width: 720px;
  box-shadow: 0 6px 49px rgba(0, 0, 0, 0.66);
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  padding: 3% 4% 3% 4%;
  margin-top: 8%;
}
.login-body .logo {
  text-align: center;
  margin-bottom: 75px;
  width: auto;
  float: none;
  border: none;
}
@media screen and (max-width: 1024px) {
  .login-body .logo {
    margin-bottom: 25px;
  }
}
.login-body .logo img {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1440px) {
  .login-body .logo img {
    width: 50%;
  }
}
.login-body .pic {
  padding-top: 40px;
  max-width: 150px;
}
@media screen and (max-width: 1440px) {
  .login-body .pic {
    width: 70%;
    padding-top: 22px;
  }
}

.middle-block {
  margin-bottom: 20px;
}

.login-form {
  color: #a1a1a1;
  font-size: 18px;
}
.login-form label {
  display: block;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  width: 100%;
  margin-bottom: 0;
}
.login-form .title {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
}
@media screen and (max-width: 1440px) {
  .login-form .title {
    margin-bottom: 14px;
  }
}
.login-form .f-row {
  border-bottom: 1px solid #bbb;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .login-form .f-row {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}
.login-form .f-row input {
  border: none;
  color: #494949;
  display: block;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  height: 34px;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .login-form .f-row input {
    font-size: 16px;
    height: 30px;
  }
}
.login-form .f-row input[type="password"]:-moz-placeholder {
  font-size: 28px;
  color: #494949;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  position: relative;
  top: 8px;
}
@media screen and (max-width: 1440px) {
  .login-form .f-row input[type="password"]:-moz-placeholder {
    top: 7px;
  }
}
.login-form .f-row input[type="password"]::-moz-placeholder {
  font-size: 28px;
  color: #494949;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  position: relative;
  top: 8px;
}
@media screen and (max-width: 1440px) {
  .login-form .f-row input[type="password"]::-moz-placeholder {
    top: 7px;
  }
}
.login-form .f-row input[type="password"]:-ms-input-placeholder {
  font-size: 28px;
  color: #494949;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  position: relative;
  top: 8px;
}
@media screen and (max-width: 1440px) {
  .login-form .f-row input[type="password"]:-ms-input-placeholder {
    top: 7px;
  }
}
.login-form .f-row input[type="password"]::-webkit-input-placeholder {
  font-size: 28px;
  color: #494949;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  position: relative;
  top: 8px;
}
@media screen and (max-width: 1440px) {
  .login-form .f-row input[type="password"]::-webkit-input-placeholder {
    top: 7px;
  }
}
.login-form .btn {
  width: 200px;
  margin-bottom: 5px;
  font-size: 18px;
}
.login-form .forgot {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 16px;
}

.top-block {
  background: #fff;
  position: relative;
  z-index: 2;
  border: 1px solid #dadee7;
  height: 88px;
  margin-bottom: 29px;
  padding-right: 30px;
}
.top-block .breadcrumb {
  background: none;
  float: left;
  padding-left: 0;
  padding-top: 18px;
}
.top-block .breadcrumb li {
  font-weight: bold;
}
.top-block .wrap {
  padding-top: 19px;
  padding-left: 25px;
  margin-left: 341px;
}

.logo {
  width: 342px;
  border-right: 1px solid #dadee7;
  float: left;
}
.logo a {
  display: block;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.user-nav {
  float: right;
}
.user-nav .user-pic {
  background: url(../images/icons/arrow-bottom.png) no-repeat right center;
  height: 53px;
  width: 74px;
  padding-right: 21px;
  float: left;
}
.user-nav .user-name {
  float: left;
  padding-top: 18px;
  margin-right: 24px;
}
.user-nav .user-name a, .user-nav .user-name strong {
  color: #454545;
  font-weight: bold;
}

.user-pic {
  display: block;
}
.user-pic i {
  display: block;
  border-radius: 25%;
  overflow: hidden;
}

.roster {
  padding: 18px 30px;
}
.roster .heading h1 {
  margin-top: 0;
  text-transform: uppercase;
}
.roster .btn {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.back {
  font-size: 18px;
  color: #454545;
  font-weight: 400;
  display: inline-block;
}
.back i {
  font-size: 16px;
}

.table-wrap {
  background: #f6f7fa;
  border-radius: 4px;
  margin-bottom: 36px;
}
.table-wrap table {
  width: 100%;
}
.table-wrap table th, .table-wrap table td {
  height: 70px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 70px;
}
.table-wrap table thead th, .table-wrap table thead td {
  background: #263548;
  border-color: #263548;
  color: #fff;
  font-size: 18px;
}

.ffCheckboxWrapper {
  background: #fff;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.ffCheckboxWrapper .ffCheckbox {
  background: none;
  height: 20px;
  width: 20px;
  border: 1px solid #dadee7;
}
.ffCheckboxWrapper:hover .ffCheckbox {
  background-position: 0 0;
}
.ffCheckboxWrapper.on .ffCheckbox {
  background: url(../images/icons/check.png) no-repeat center 1px #00569d;
}
.ffCheckboxWrapper.on .ffCheckbox:hover {
  background-position: center 1px;
}

.control-b {
  background: #fff;
}
.control-b .ffCheckboxWrapper {
  width: 64px;
  height: 62px;
}
.control-b .ffCheckboxWrapper .ffCheckbox {
  height: 100%;
  width: 100%;
  background: url(../images/icons/check-b.png) no-repeat center center #fff;
}
.control-b .ffCheckboxWrapper.on .ffCheckbox {
  background: url(../images/icons/check-b-onn.png) no-repeat center center #fff;
}

.ffSelectWrapper {
  margin-top: 8px;
  text-align: left;
}
.ffSelectWrapper ul {
  border: 1px solid #dadee7;
  border-radius: 5px;
  overflow: hidden;
}
.ffSelectWrapper .ffSelectMenuMid {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.ffSelectWrapper .ffSelectMenuTop,
.ffSelectWrapper .ffSelectMenuMid,
.ffSelectWrapper .ffSelectMenuMidBG,
.ffSelectWrapper .ffSelectMenuBottom {
  background: none !important;
  padding: 0;
  margin: 0;
}
.ffSelectWrapper .ffSelectMenuBottom,
.ffSelectWrapper .ffSelectMenuTop {
  display: none;
}

.control .ffSelectWrapper {
  height: 34px;
  margin: 0;
}
.control .ffSelectWrapper a {
  background-color: #fff;
}
.control .ffSelectWrapper a:before {
  top: 13px;
}
.control .ffSelectWrapper a span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

.pre-flight .heading {
  margin-bottom: 20px;
}
.pre-flight .back {
  margin-top: 17px;
}
.pre-flight .btn {
  margin-left: 15px;
  margin-right: 15px;
}
.pre-flight .f-row {
  margin-bottom: 25px;
}
.pre-flight .f-row .f-wrap {
  padding-top: 8px;
}
.pre-flight .caption {
  color: #fff;
  background: #263548;
  line-height: 19px;
  padding-top: 4px;
  border-right: 1px solid #dadee7;
  padding-bottom: 4px;
  border-radius: 4px 0 0 4px;
}
.pre-flight .table-wrap {
  margin-bottom: 20px;
}
.pre-flight table th, .pre-flight table td {
  height: 54px;
}
.pre-flight .control-b .ffCheckboxWrapper {
  float: left;
  margin: 0;
}
.pre-flight .control-b .ffCheckboxWrapper.on + span {
  background: #263548;
  color: #fff;
}
.pre-flight .control-b span {
  background: #fff;
  float: left;
  border-color: #dadee7;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  height: 62px;
  font-size: 16px;
  text-align: center;
  padding: 7px;
  font-weight: 500;
}
.pre-flight .control-b .ffCheckboxWrapper.onn + span {
  background: #263548;
}
.pre-flight .data-body {
  min-height: 60px;
  padding-top: 5px;
}

.ffSelectWrapper {
  width: 100%;
}
.ffSelectWrapper a {
  background: none;
  position: relative;
  border-radius: 3px;
  border: 1px solid #dadee7;
}
.ffSelectWrapper a:before {
  content: '';
  background: url(../images/icons/arrow-bottom.png);
  width: 12px;
  height: 6px;
  position: absolute;
  right: 9px;
  top: 10px;
}
.ffSelectWrapper span {
  background: none;
  font-size: 18px;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.on {
  background: #00569d;
  color: #fff;
}

.nav-tabs {
  border-bottom: 1px solid #dadee7;
}
.nav-tabs > li > a {
  background: #00cb63;
  border-color: #dadee7;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:active {
  background: #00cb63;
}
.nav-tabs > li > a.bg-warning {
  background: #ffc000;
  color: #fff;
}
.nav-tabs > li > a.bg-danger {
  background: #f00;
  color: #fff;
}
.nav-tabs > li.active a {
  color: #00cb63;
  border-color: #dadee7 #dadee7 transparent #dadee7;
}
.nav-tabs > li.active a:before {
  background: #00cb63;
  height: 8px;
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #dadee7;
}

.tabs {
  font-size: 16px;
}
.tabs .tab-content.g-wrpa {
  border-radius: 0 0 4px 4px;
  border-top: none;
}
.tabs .table-wrap {
  border-radius: 4px;
  overflow: hidden;
}
.tabs .table-wrap {
  overflow: visible;
}
.tabs .table-wrap .ffSelect > a {
  border: none;
}
.tabs .table-wrap .ffSelect > a > span {
  text-align: left;
}

.steps {
  padding: 30px;
}
.steps .heading h1 {
  margin-top: 0;
}
.steps .options {
  border-radius: 4px;
  border: 1px solid #dadee7;
  margin-bottom: 20px;
}
.steps .options .title {
  background: #263548;
  border-radius: 4px 4px 0 0;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.steps .wrap {
  text-align: center;
  background: #f6f7fa;
  margin: 0;
  list-style: none;
  padding: 0;
}
.steps .wrap li {
  display: table;
  width: 100%;
}
.steps .wrap a {
  display: table-cell;
  color: #343434;
  padding: 0 5px;
  height: 50px;
  vertical-align: middle;
  border-top: 1px solid #dadee7;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.steps .wrap a:hover {
  text-decoration: none;
  background: #f97514;
  color: #fff;
}

.steps-row {
  padding-top: 20px;
  padding-bottom: 30px;
}
.steps-row .num {
  background: #e9e9e9;
  position: absolute;
  top: 0;
  left: 15px;
  color: #fff;
  height: 32px;
  width: 32px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  line-height: 32px;
}
.steps-row .text {
  font-size: 16px;
  color: #9d9d9d;
  margin-left: 45px;
  padding-top: 5px;
}
.steps-row .current .num,
.steps-row .done .num {
  background: #f97514;
}
.steps-row .current .text,
.steps-row .done .text {
  color: #3a3a3a;
}

.create-alert {
  max-width: 547px;
  padding: 40px 30px;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.27);
  border-radius: 7px;
  margin: 50px auto;
}
.create-alert .title {
  margin-bottom: 30px;
  text-transform: none;
}
.create-alert .btn {
  margin-left: 17px;
  margin-right: 17px;
  min-width: 150px;
}

.step3 {
  font-size: 16px;
}
.step3 .btn {
  min-width: 150px;
  margin: 15px;
}
.step3 textarea {
  height: 118px;
}

.f-title {
  font-weight: 500;
}

.nav-inner {
  margin: 30px -31px 20px;
  text-align: center;
  border-color: #dadee7;
  border-style: solid;
  border-width: 1px 0;
}
.nav-inner ul {
  display: table;
  width: 100%;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-inner ul li {
  display: table-cell;
  border-color: transparent;
  border-style: solid;
  border-width: 0 1px;
  vertical-align: middle;
  padding: 0;
  position: relative;
  height: 60px;
}
.nav-inner ul li a {
  color: #343434;
}
.nav-inner ul li a:hover {
  text-decoration: none;
  color: #f97514;
}
.nav-inner ul li.onn {
  border-color: #dadee7;
  z-index: 9;
}
.nav-inner ul li.onn a:before {
  background: #f97514;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
}
.nav-inner ul li.onn a:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: #dadee7;
  top: 0;
  left: 0;
}

.f-note {
  font-size: 18px;
  padding-top: 5px;
}

.case-history {
  padding: 30px;
}
.case-history .control {
  height: 34px;
}
.case-history textarea {
  height: 133px;
}
.case-history .btn {
  min-width: 200px;
  margin: 15px;
}

.footer-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-block > div {
  font-size: 16px;
}

.icon-r {
  position: relative;
  padding-right: 60px !important;
}
.icon-r:before {
  background: url(../images/icons/question.png) no-repeat right 0;
  width: 46px;
  height: 39px;
  right: 9px;
  content: '';
  top: 10px;
  position: absolute;
}

.titling {
  background: #fff;
}
.titling .caption {
  text-align: center;
  padding: 16px 10px;
  color: #fff;
  background: #263548;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px 4px 0 0;
}
.titling .wrap {
  padding: 10px 9px;
}

.ffSelect > a > span {   
    white-space: normal;
    
}